/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.box-with-text {
  background-image: -webkit-linear-gradient(transparent, transparent), url(http://rack.1.mshcdn.com/media/ZgkyMDEzLzA0LzA4Lzg4L3RvZGF5aXNub3R0LjIyYWE2LmpwZwpwCXRodW1iCTk1MHg1MzQjCmUJanBn/a3c05b08/ec2/today-is-not-the-future-back-to-the-future-hoax-fools-the-web-bbb71b7a1b.jpg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Other styles */
body {
  background: #000;
  color: #FFF;
}

.box-with-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font: 26vmax/.85 Open Sans, Impact;
}
